* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}

.div-PlayersMap{
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
    
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
   
    
}

.card {
    background-color: #1a1a1a;
    color: white;
    width: 300px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    font-size: 14px;
   
}

.card-header {
    padding: 10px;
    display: flex;
    justify-content: center;
    background-color: #232323;
}

.card-photo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #fff;
}

.card-body {
    padding: 15px;
}

.card-info {
    margin-bottom: 20px;
}

.card-name {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.card-position, .card-rating {
    font-size: 14px;
    margin-top: 5px;
    text-align: center;
}

.card-stats .stat {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stat-label {
    font-size: 12px;
}

.stat-value {
    font-size: 16px;
    font-weight: bold;
    color: #4caf50; 
}
